.homepage {
  width: 100%;
  color:#cecece;
  margin: 0;
  padding: 5vh 3vh 5vh 3vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &-introduction {
    margin: 5vh auto 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & span {
      font-size: 2em;
      position: relative;
      left: 50%;
    }
  }

  &-title {
    font-size: 4em;
    align-self: flex-start;
  }

  &-content {
    font-size: 1.3em;
    text-align: left;
  }
}

#home {
  padding: 0;
  background: linear-gradient(-45deg, #A56D50, #679864, #5E83AC, #F0E89C);
  background-size: 500vh 500vh;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {
  /* Styles */
  .homepage {

    &-title {
      font-size: 3em;
    }
  
    &-content {
      font-size: 1em;
    }

    & span {
      font-size: 1.3em;
    }
  
  }
}


.wrap {
  height: 100%;
  width: 100%;
  text-align: center;
  align-self: center;
}

img {
  height: 50px;
  width: auto;
  color: #cecece;
}

.wrap img {
  margin: 0;
  line-height: 50px;
  position: relative;
  top: 100%;
  bottom: 0px;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
