.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  background: rgb(63, 63, 63);
  font-family: 'CoreCircus', sans-serif;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-brand {
    letter-spacing: -.2rem;
    line-height: 3vw;
    height: 3vw;
    margin: 0;
    padding: 0;
    color: #b8b8b8;
  }

  &-toggler {
    border: 1px solid rgb(49, 49, 49);
  }

}

.collapse {
  padding-left: 2vh;
}

.nav-item {
  margin: 0.5em;
  display: flex;
  align-items: center;

  :hover {
    text-decoration: none;
    color:#cecece;
  }

  &-home {
    color:#A56D50;
  }

  &-cv {
    color:#679864;
  }

  &-contact {
    color: #5E83AC;
  }

  &-github {
    color: #F0E89C;
  }
}

.github-logo {
  width: auto;
  height: 2.5vh;
  padding-left: 1vh;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {
  /* Styles */
  .navbar {
    &-brand {
      font-size: 0.95em;
    }
  }
}
