.header {
  width: 100%;
  background: rgb(63, 63, 63);
  color: white;
  &-title {
    font-family: 'CoreCircus', sans-serif;
    color: rgb(177, 177, 177);
    letter-spacing: -.3rem;
  }
  min-height: 10vh;
}

.navbar {
  background: rgb(63, 63, 63);
  color: white;
  font-family: 'CoreCircus', sans-serif;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-brand {
    letter-spacing: -.2rem;
    line-height: 3vw;
    height: 3vw;
    margin: 0;
    padding: 0;

    :hover {
      text-decoration: none;
      color: white;
    }

  }

}

.collapse {
  padding-left: 2vh;
}

.nav-item {
  margin: 0.5em;

  :hover {
    text-decoration: none;
    color:#cecece;
  }

  &-home {
    color:#A56D50;
  }

  &-cv {
    color:#679864;
  }

  &-contact {
    color: #5E83AC;
  }

  &-github {
    color: #F0E89C;
  }
}

.github-logo {
  width: auto;
  height: 2.5vh;
  padding-left: 1vh;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 400px) {
  /* Styles */
  .navbar {
    &-brand {
      font-size: 0.9em;
    }
  }
}
